{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} News Details
{% endblock %}




{% block lin %}
<style>
	i, span, a {
	  display: inline;
	}
</style>
{% endblock %}


	{% block nav %}

	{% include 'about/header_about.html' %}

	{% endblock %}


	
{% block jumbotron %}
	<!--====== Page Title Start ======-->
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<h1 class="page-title">News Details</h1>
				</div>
				<div class="col-auto">
					<ul class="page-breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li>News Details</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->
	{% endblock %}


	{% block blog %}

	<!--====== Blog Details Area Start ======-->
    <section class="blog-area section-gap-extra-bottom primary-soft-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-post-details">
                        <div class="post-thumbnail">
                            <img src="{{ news.image_770_by_450.url }}" alt="Thumbnail">
                        </div>
                        <div class="post-content">
                            <ul class="post-meta">
                                <li>
                                    <a href="#"><i class="far fa-user-circle"></i>{{ news.author }}</a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-calendar-alt"></i>25 February 2021</a>
                                </li>
                            </ul>
                            <h3 class="title">
                                {{ news.title }}
                            </h3>
                            <p>
                                {{ news.body|safe }}
                            </p>
                            <blockquote>
                                <p>
                                    {{ news.quote|safe }}
                                </p>
                                <cite>{{ news.author }}</cite>
                            </blockquote>
                            <p>
                                {{ news.body_2|safe }}
                            </p>
                            <div class="post-footer mt-40">
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <div class="related-tags">
                                            <span>Related Tags: </span>
                                            {% if related %}
                                            {% for i in related %}
                                            <a href="i.get_absolute_url">{{i.title}}</a>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="social-share">
                                            <span>Share: </span>
                                            <a href="https://web.facebook.com/groups/753034682728605"><i class="fab fa-facebook-f"></i></a>
                                            <a href="https://www.instagram.com/officialamfi/"><i class="fab fa-twitter"></i></a>
                                            <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                
                               <!--  insert the comment section here -->
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4">
					<div class="blog-sidebar">
						<div class="widget search-widget">
							<h4 class="widget-title">Search Here</h4>
							<form method="Post" action="{% url 'news:news'  %}">
								{% csrf_token %}
								<input type="text" placeholder="Search news..." name="q">
								<button><i class="fas fa-search"></i></button>
							</form>
						</div>
						<div class="widget category-widget">
							<h4 class="widget-title">Category</h4>
							<ul>
								<li><a href="{% url 'training:training' %}">Training/Empowerment <i class="far fa-angle-right"></i></a></li>
								<li><a href="{% url 'projects:projects' %}">Project <i class="far fa-angle-right"></i></a></li>
								<li><a href="{% url 'team:team' %}">Committee <i class="far fa-angle-right"></i></a></li>
								<li><a href="{% url 'board:board' %}">Board of Trustee <i class="far fa-angle-right"></i></a></li>
							</ul>
						</div>
						<div class="widget latest-blog-widget">
							<h4 class="widget-title">Advertise with us</h4>
							<ul>
								<li>
									<div class="thumb">
										<img src="{% static 'assets/img/project/advert.png' %}" alt="Image">
									</div>
									<div class="desc">
										<h6><a>Place Adverts Here</a></h6>
										<span class="date"><i class="far fa-calendar-alt"></i>25 May 2021</span>
									</div>
								</li>
								
							</ul>
						</div>
						<div class="widget tags-widget">
							<h4 class="widget-title">Explore</h4>
							<ul>
								<li><a href="{% url 'training:training' %}">Training/Empowerment</a></li>
								<li><a href="{% url 'projects:projects' %}">Project</a></li>
							</ul>
						</div>
						<div class="widget cta-widget">
							<div class="cta-content">
								<h4 class="title">Advertise <br> Here</h4>
								<span class="subtitle">Visit the mission statement office for more details</span>
								<p>
									Visit the mission statement office for more details
								</p>
								<a href="{% url 'contact:contact' %}" class="cta-button">Contact us</a>


								<div class="cta-img">
									<img src="{% static 'assets/img/project/advert.png' %}" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </section>
	<!--====== Blog Standard Area End ======-->
	{% endblock %}

	