{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Board of Trustees
{% endblock %}



	{% block nav %}

	{% include 'about/header_about.html' %}

	{% endblock %}


	{% block jumbotron %}


	<!--====== Page Title Start ======-->
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<h1 class="page-title">Board of Trustees</h1>
				</div>
				<div class="col-auto">
					<ul class="page-breadcrumb">
						<li><a href="{% url 'home:home' %}">Home</a></li>
						<li>Members</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->
	{% endblock %}


{% block team %}
	<!--====== Team Member Area Start ======-->
    <section class="team-member-area section-gap-extra-bottom">
        <div class="container">
            <div class="row team-members justify-content-center">
                {% if board %}
                {% for i in board %}
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            {% if i.image_370_by_410 %}
                            <img src="{{ i.image_370_by_410.url }}" alt="{{ i.full_name }}">
                            {% endif %}
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="{{ i.get_absolute_url }}">{{ i.full_name }}</h5>
                            <span class="title"><a href="{{ i.get_absolute_url }}">{{ i.designation }}</a></span>
                            <!-- <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">

                            <img src="{% static 'assets/img/team/02.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Steven E. Wagner</a></h5>
                            <span class="title">Jonior Manager</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/03.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Dwayne C. Dawson</a></h5>
                            <span class="title">Digital Marketer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/04.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Steven B. Rangel</a></h5>
                            <span class="title">Web Developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/05.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Richard R. Barnes</a></h5>
                            <span class="title">Web Developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/06.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">James P. Gutierrez</a></h5>
                            <span class="title">Sr Manager</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/07.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Tony C. Anderson</a></h5>
                            <span class="title">Senior Developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/08.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Stan H. Woodruff</a></h5>
                            <span class="title">Apps Developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="member-box mb-30">
                        <div class="member-photo">
                            <img src="{% static 'assets/img/team/09.jpg' %}" alt="Member">
                        </div>
                        <div class="member-info">
                            <h5 class="name"><a href="#">Ronald T. Kessler</a></h5>
                            <span class="title">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
				<div class="col-12">
                    <!-- <div class="view-more-btn text-center mt-40">
                        <a href="contact.html" class="main-btn">Join Our Team <i class="far fa-arrow-right"></i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
	<!--====== Team Member Area End ======-->
	{% endblock %}

	