{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Training
{% endblock %}



	{% block nav %}

	{% include 'about/header_about.html' %}

	{% endblock %}


	
{% block jumbotron %}

	<!--====== Page Title Start ======-->
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<h1 class="page-title">Training</h1>
				</div>
				<div class="col-auto">
					<ul class="page-breadcrumb">
						<li><a href="{% url 'home:home' %}">Home</a></li>
						<li>Training</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->
{% endblock %}



{% block training %}
	<!--====== Event area Start ======-->
	<section class="event-area section-gap-extra-bottom">
		<div class="container">
            <div class="event-items">
                {% if training %}
                {% for i in training %}
                <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0s">
                    {% if i.image_770_by_445  %}
                    <div class="event-thumb">
                        <img src="{{ i.image_770_by_445.url }}" alt="Image" style="width: 155px;">
                    </div>
                    {% elif i.image_570_by_640 %}
                    <div class="event-thumb">
                        <img src="{{ i.image_570_by_640.url }}" alt="Image" style="width: 155px;">
                    </div>
                    {% else %}
                    <div class="event-thumb">
                        <img src="{% static 'assets/img/event/01.jpg' %}" alt="Image" >
                    </div>
                    {% endif %}
                    <div class="event-content">
                        <ul class="meta">
                            <li>
                                <a href="{{ i.get_absolute_url }}" class="category">Training</a>
                            </li>
                            {% if i.location  %}
                            <li>
                                <a href="{{ i.get_absolute_url }}" class="date"><i class="fal fa-map-marker-alt"></i>{{ i.location }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% if i.title  %}
                        <h4 class="event-title"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h4>
                        {% endif %}
                        {% if i.body  %}
                        <p>
                            {{ i.body|safe|slice:":100" }}...
                        </p>
                        {% endif %}
                    </div>
                    <div class="event-button">
                        <a href="{{ i.get_absolute_url }}" class="main-btn bordered-btn">Join Training <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="event-thumb">
                        <img src="{% static 'assets/img/event/02.jpg' %}" alt="Image">
                    </div>
                    <div class="event-content">
                        <ul class="meta">
                            <li>
                                <a href="project-details.html" class="category">Fashion Schooling</a>
                            </li>
                            <li>
                                <a href="#" class="date"><i class="fal fa-map-marker-alt"></i>St. Augustines Ikorodu.</a>
                            </li>
                        </ul>
                        <h4 class="event-title"><a href="#">Fashion Designing</a></h4>
                        <p>
                            This training is for trainees who want to venture into Fashion designing, Mmake-over, Gele tying and Bead making
                        </p>
                    </div>
                    <div class="event-button">
                        <a href="project-details.html" class="main-btn bordered-btn">Join Training <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="event-thumb">
                        <img src="{% static 'assets/img/event/03.jpg' %}" alt="Image">
                    </div>
                    <div class="event-content">
                        <ul class="meta">
                            <li>
                                <a href="project-details.html" class="category">Web/Software Development</a>
                            </li>
                            <li>
                                <a href="#" class="date"><i class="fal fa-map-marker-alt"></i>St. Augustines Ikorodu.</a>
                            </li>
                        </ul>
                        <h4 class="event-title"><a href="#">Web App Development</a></h4>
                        <p>
                            This training is for those willing to venture into software development.
                        </p>
                    </div>
                    <div class="event-button">
                        <a href="project-details.html" class="main-btn bordered-btn">Join Training <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
                {% endif %}
                
                
            </div>
		</div>
	</section>
	<!--====== Event area End ======-->
{% endblock %}

	