{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Contact
{% endblock %}



	{% block nav %}

	{% include 'about/header_about.html' %}

	{% endblock %}


{% block jumbotron %}

	<!--====== Page Title Start ======-->
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<h1 class="page-title">Contact Us</h1>
				</div>
				<div class="col-auto">
					<ul class="page-breadcrumb">
						<li><a href="{% url 'home:home' %}">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== Page Title End ======-->
{% endblock %}


{% block contact %}
	<!--====== Contact Section Start ======-->
    <section class="contact-section section-gap-extra-bottom">
        <div class="container">
            <!-- Contact Info Start -->
            <div class="row align-items-center justify-content-center">
                <div class="col-lx-4 col-lg-5 col-sm-10">
                    <div class="contact-info-text mb-md-70">
                        <div class="common-heading mb-30">
                            <span class="tagline">
                                <i class="fas fa-plus"></i> Contact Us
                                <span class="heading-shadow-text">Let's Talk</span>
                            </span>
                            {% if contact.0.title %}
                            <h2 class="title">{{ contact.0.title }}</h2>
                            {% else %}
                            <h2 class="title">Ready to Get More Information</h2>
                            {% endif %}
                        </div>
                            {% if contact.0.description %}
                            <p>
                            {{ contact.0.description|safe }}
                            </p>
                            {% else %}
                            <p>
                            Sedut perspiciatis unde omnis natus voluptatem accusantium dolore dantiumy totam apeam eaquey quaventore veritatis architecto beatae.
                            </p>
                            {% endif %}
                        
                        <!-- <a href="events.html" class="main-btn mt-35">Get Free Quote <i class="far fa-arrow-right"></i></a> -->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 offset-xl-1">
                    <div class="contact-info-boxes">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 col-sm-10">
                                <div class="info-box text-center wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="icon">
                                        <i class="flaticon-place"></i>
                                    </div>
                                    <div class="info-content">
                                        <h5>Our Location</h5>
                                        {% if contact.0.location %}
                                        <p>
                                            {{ contact.0.location }}
                                        </p>
                                        {% else %}
                                        <p>
                                            St Augustines Catholic Churcu, Ikorodu, Lagos, Nigeria.
                                        </p>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                                <div class="info-box text-center mt-30 mb-sm-30 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <i class="flaticon-envelope"></i>
                                    </div>
                                    <div class="info-content">
                                        <h5>Email Address</h5>
                                        {% if contact.0.email %}
                                        <p>
                                            {{ contact.0.email }}
                                        </p>
                                        {% else %}
                                        <p>
                                            amfist1982@gmail.com
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="info-box text-center wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="icon">
                                        <i class="flaticon-phone-call-1"></i>
                                    </div>
                                    <div class="info-content">
                                        <h5>Support Line</h5>
                                        {% if contact.0.support_line %}
                                        <p>
                                            {{ contact.0.support_line }}
                                        </p>
                                        {% else %}
                                        <p>
                                            +234(806) 079 7056
                                        </p>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Info End -->
            <div class="contact-from-area">
                <div class="row no-gutters">
                    <div class="col-lg-5">
                        <div class="contact-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.1812118532653!2d3.48590621419034!3d6.624399695209736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bedac2f08d981%3A0x18b151a40c25c8f3!2sSt%20Augustine%20Catholic%20Church%2C%20Maryhill%20Agric!5e0!3m2!1sen!2sng!4v1652311225885!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-form">
                            <form method="post" action="{% url 'contact:contact' %}">
                                {% csrf_token %}
                                <h3 class="form-title">Send Us Message</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-field mb-25">
                                            <label for="name">Your Name</label>
                                            <input type="text" placeholder="Enter your full name" id="name" name="full_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-field mb-25">
                                            <label for="phone-number">Phone Number</label>
                                            <input type="text" placeholder="Enter your phone number" id="phone-number" name="phone_number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-field mb-25">
                                            <label for="email">Email Address</label>
                                            <input type="text" placeholder="support@gmail.com" id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-field mb-25">
                                            <label for="subject">Subject</label>
                                            <input type="text" placeholder="I would like to" id="subject" name="subject">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-field mb-30">
                                            <label for="message">Write Message</label>
                                            <textarea id="message" placeholder="Hello" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-field">
                                            <button class="main-btn">Send Us Message <i class="far fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--====== Contact Section End ======-->
{% endblock %}

	