{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Home
{% endblock %}



	{% block nav %}

	{% include 'home/header.html' %}

	{% endblock %}


	{% block jumbotron %}
	<!--====== Hero Area Start ======-->
	<section class="hero-area-one">
		<div class="hero-text">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<span class="tagline wow fadeInUp" data-wow-delay="0.3s">AMFI</span>
						<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Augustine Mission Foundation Ikorodu.</h1>
						<!-- <a href="project-1.html" class="main-btn wow fadeInUp" data-wow-delay="0.5s">
							Explore Projects <i class="far fa-arrow-right"></i>
						</a> -->
					</div>
				</div>
			</div>
			<div class="hero-shapes">
				<div class="hero-line-one">
					<img src="{% static 'assets/img/hero/hero-line.png' %}" alt="Line">
				</div>
				<div class="hero-line-two">
					<img src="{% static 'assets/img/hero/hero-line-2.png' %}" alt="Line">
				</div>
				<div class="dot-one"></div>
				<div class="dot-two"></div>
			</div>
		</div>
		<div class="hero-images">
			<div class="hero-img image-small fancy-bottom wow fadeInLeft" data-wow-delay="0.6s">
				<img src="{% static 'assets/img/hero/hero-one-small.png' %}" alt="Image">
			</div>
			<div class="hero-img main-img wow fadeInUp" data-wow-delay="0.5s">
				<img src="{% static 'assets/img/hero/hero-one-big.png' %}" alt="Image">
			</div>
			<div class="hero-img image-small fancy-top wow fadeInRight" data-wow-delay="0.7s">
				<img src="{% static 'assets/img/hero/hero-one-small-2.png' %}" alt="Image">
			</div>
		</div>
	</section>
	<!--====== Hero Area End ======-->



	{% endblock %}

    {% block category %}
    

	<!--====== Categories Section Start ======-->
	<section class="popular-categories section-gap">
		<div class="container">
			<div class="categories-header">
				<div class="row align-items-center justify-content-between">
					<div class="col-auto">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> what we do
								<span class="heading-shadow-text">Training</span>
							</span>
							<h2 class="title">Popular Training</h2>
						</div>
					</div>
					<div class="col-auto">
						<a href="{% url 'training:training' %}" class="main-btn mb-30">View All Training <i class="far fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="row justify-content-center fancy-icon-boxes">
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.2s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-tshirt-1"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="#">Fashion</a></h4>
							<p>Clothe Making</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.3s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-video-camera"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="#">Photography & Video</a></h4>
							<p>Editing</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-project-management"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="#">Project Management</a></h4>
							<p>Administration</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.5s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-cake"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="#">Catering</a></h4>
							<p>Cake, Chips & Chinchin Making</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Categories Section End ======-->
	{% endblock %}

    {% block about %}
	<!--====== About Section Start ======-->
	<section class="about-section-one">
		<div class="container">
			<div class="row align-items-center justify-content-lg-start justify-content-center">
				<div class="col-xl-6 col-lg-7 col-md-9">
					<div class="about-img">
						<img src="{% static 'assets/img/about/about-one3.png' %}" alt="Image">
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-10 offset-xl-1">
					<div class="about-text mt-md-70 mb-md-50">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> who we are
								<span class="heading-shadow-text">About Us</span>
							</span>
							<!-- <h2 class="title">Why Choose Us</h2> -->
						</div>
						<p>
							AMFI was setup to assist the poor and vulnerable to carry out Catholic relief service as we act to promote human development by responding to major emergencies, fighting poverty and nuturing peaceful and just society.
						</p>
						<div class="author-note wow fadeInUp">
							<ul>
								<!-- <li><i class="far fa-check"></i> Non-Profite Crowdfunding Agency</li> -->
								<li><i class="far fa-check"></i> We're a Successful Institute </li>
							</ul>
							<div class="author-info">
								<div class="author-img">
									<img src="{% static 'assets/img/author-thumbs/01.png' %}" alt="Image">
								</div>
								<h5 class="name">Mrs. Doralis Ugbobuaku Ihekerem</h5>
								<span class="title">Chairperson</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== About Section End ======-->
	{% endblock %}


    {% block projects %}

	<!--====== Project Section Start ======-->
	<section class="project-section project-section-extra-gap secondary-bg">
		<div class="container-fluid fluid-extra-padding">
			<div class="common-heading text-center color-version-white mb-60">
				<span class="tagline">
					<i class="fas fa-plus"></i> Popular Projects
					<span class="heading-shadow-text">Our Projects</span>
				</span>
				<h2 class="title">Explore Our Projects</h2>
			</div>
			<div class="row project-slider-one project-items project-style-one no-shadow">
				<div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-01.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Cake Making Department</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
								<a href="#">Mrs. Sandra Domino</a>
							</div>
							<h5 class="title">
								<a href="#">Best Cake Making Tutor in 2021/2022.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised <span class="value">5M NGN</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-02.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Sound Engineering</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/02.jpg' %}" alt="Thumb">
								<a href="#">Mr. Benard Siwoku</a>
							</div>
							<h5 class="title">
								<a href="#">Understanding the Engineering behinds Sounds.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised <span class="value">1.5M NGN</span></span>
									<span class="stats-percentage">87%</span>
								</div>
								<div class="stats-bar" data-value="87">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-03.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Rev Fr. Livinus.</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/03.jpg' %}" alt="Thumb">
								<a href="#">Parish Priest</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Grow in the vineyard of our Saviour, Lord Jesus Christ.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">85%</span>
								</div>
								<div class="stats-bar" data-value="85">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-04.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Acting Department</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
								<a href="#">Mr Steven</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Grow as a Professional Actor/Actress.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised <span class="value">Nill</span></span>
									<span class="stats-percentage">83%</span>
								</div>
								<div class="stats-bar" data-value="83">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-05.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Agah Ongoing Project</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/02.jpg' %}" alt="Thumb">
								<a href="#">Mrs Dorallis</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Chips Making Factory.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised <span class="value">300k NGN</span></span>
									<span class="stats-percentage">93%</span>
								</div>
								<div class="stats-bar" data-value="93">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-06.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">AMFI Award</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/03.jpg' %}" alt="Thumb">
								<a href="#">AMFI Committee</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">AMFI Awards of Excellence 2019.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">70%</span>
								</div>
								<div class="stats-bar" data-value="70">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-07.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Car Wash Project</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
								<a href="#">Mr John Iro</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Car Washing centre for parishioners.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised <span class="value">$59,689</span></span>
									<span class="stats-percentage">81%</span>
								</div>
								<div class="stats-bar" data-value="81">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({% static 'assets/img/project/project-grid-08.png' %});"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Video Editing Department</a>
							</div>
							<div class="author">
								<img src="{% static 'assets/img/author-thumbs/02.jpg' %}" alt="Thumb">
								<a href="#">Mr John Viyon</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Learn the process of making Professional Photos and videos.</a>
							</h5>
							<!-- <div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">73%</span>
								</div>
								<div class="stats-bar" data-value="73">
									<div class="bar-line"></div>
								</div>
							</div> -->
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Project Section End ======-->

    {% endblock %}


    {% block testimonials %}
    
	<!--====== Testimonials Start ======-->
	<section class="testimonials-section section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
					<div class="testimonials-content mb-lg-50">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> clients Feedback
								<span class="heading-shadow-text">Testimonials</span>
							</span>
							<h2 class="title">Why Choose Us</h2>
						</div>
						<p>
							Some of our empowerment programs have produced and empowered over 500 trainees with practical classes and standard assessments in over 20 different programs and many of these trainees are now owners of businesses. 
						</p>
						<a href="{% url 'testimonial:testimonial' %}" class="main-btn mt-35">View All Reviews <i class="far fa-arrow-right"></i></a>

						<div class="testimonial-author-boxes wow fadeInUp" data-wow-delay="0.2s">
							<h6>Most Popular Clients</h6>
							<ul class="author-images">
								<li data-tooltip="true" data-placement="top" data-original-title="Donald L. Juarez">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="Evan A. Ethridge">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/02.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="Donald L. Lewis">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/03.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="Marcus L. Duncan">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/04.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="Evan A. Ethridge">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/05.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="M. Jon Doe">
									<a href="#"><img src="{% static 'assets/img/author-thumbs/06.jpg' %}" alt="user one"></a>
								</li>
								<li data-tooltip="true" data-placement="top" data-original-title="More">
									<a href="#" class="more-icon"><i class="far fa-plus"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-10">
					<div class="testimonial-boxes square-shape">
						<div class="row  justify-content-center">
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="testimonial-box-one wow fadeInUp" data-wow-delay="0s">
									<div class="author-info">
										<div class="author-img">
											<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
										</div>
										<div>
											<h5 class="name">Mrs. Matina Soronadi</h5>
											<p class="position">C.E.O Favour Tiger Nut</p>
										</div>
									</div>
									<p class="testimonial-desc">
										Quis autem vel eum reprehenderit quiea voluptate velit essenih lestiae conseqatur veillum dolorem
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.1s">
									<div class="author-info">
										<div class="author-img">
											<img src="{% static 'assets/img/author-thumbs/03.jpg' %}" alt="Thumb">
										</div>
										<div>
											<h5 class="name">Mr Ebuka</h5>
											<p class="position">Fashion Designer</p>
										</div>
									</div>
									<p class="testimonial-desc">
										Quis autem vel eum reprehenderit quiea voluptate velit essenih lestiae conseqatur veillum dolorem
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.2s">
									<div class="author-info">
										<div class="author-img">
											<img src="{% static 'assets/img/author-thumbs/02.jpg' %}" alt="Thumb">
										</div>
										<div>
											<h5 class="name">Mr Emeka</h5>
											<p class="position">C.E.O Look Good In A classic Way</p>
										</div>
									</div>
									<p class="testimonial-desc">
										Quis autem vel eum reprehenderit quiea voluptate velit essenih lestiae conseqatur veillum dolorem
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.3s">
									<div class="author-info">
										<div class="author-img">
											<img src="{% static 'assets/img/author-thumbs/04.jpg' %}" alt="Thumb">
										</div>
										<div>
											<h5 class="name">Mr Mathew</h5>
											<p class="position">Web Developer</p>
										</div>
									</div>
									<p class="testimonial-desc">
										Quis autem vel eum reprehenderit quiea voluptate velit essenih lestiae conseqatur veillum dolorem
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Testimonials End ======-->
	{% endblock %}



    {% block emergency %}
	<!--====== Emergency Project & CTA Start ======-->
	<section class="emergency-project-with-cta">
		<div class="container">
			<!-- Call to Action -->
			<div class="cta-box cta-double-content" style="background-image: url({% static 'assets/img/cta/01.png' %});">
				<div class="row justify-content-center">
					<div class="col-xl-4 col-lg-5 col-md-9">
						<div class="content">
							<h2 class="cta-title">Donate And Support</h2>
							<p>We are seeking support from people who can help bring our goals to reality </p>
							<a href="events.html" class="main-btn">Start a Donation <i class="far fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-xl-2 col-lg-1 cta-double-content-gap"></div>
					<div class="col-xl-4 col-lg-5 col-md-9">
						<div class="content">
							<h2 class="cta-title">Access Data And Insights</h2>
							<p>Insight on how the foundation got to the very stage it is in now.</p>
							<a href="events.html" class="main-btn">Get Insight <i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="emergency-project-slider">
			<div class="container">
				<div class="common-heading text-center mb-60">
					<span class="tagline">
						<i class="fas fa-plus"></i> Donate Projects
						<span class="heading-shadow-text">Donate</span>
					</span>
					<h2 class="title">Emergency Needed</h2>
				</div>
				<div class="row project-slider-two project-items project-style-four">
					<div class="col">
						<div class="project-item">
							<div class="thumb" style="background-image: url({% static 'assets/img/project/project-slider-01.png' %});"></div>
							<div class="content">
								<div class="cats">
									<a href="#">Fashion School</a>
								</div>

								<!-- <div class="author">
									<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
									<a href="#">James W. Barrows</a>
								</div> -->

								<h5 class="title">
									<a href="project-details.html">Fundraising Sewing Machines For Prospective Trainees</a>
								</h5>
								<div class="project-stats">
									<div class="stats-value">
										<span class="value-title">To Raise <span class="value">1.2M NGN</span></span>
										<span class="stats-percentage">70%</span>
									</div>
									<div class="stats-bar" data-value="90">
										<div class="bar-line"></div>
									</div>
								</div>
								<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="project-item">
							<div class="thumb" style="background-image: url({% static 'assets/img/project/project-slider-02.png' %});"></div>
							<div class="content">
								<div class="cats">
									<a href="#">Chips Production</a>
								</div>

								<!-- <div class="author">
									<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
									<a href="#">James W. Barrows</a>
								</div> -->

								<h5 class="title">
									<a href="project-details.html">Fundraising Chips Production Machine</a>
								</h5>
								<div class="project-stats">
									<div class="stats-value">
										<span class="value-title">To Raise <span class="value">800k NGN</span></span>
										<span class="stats-percentage">40%</span>
									</div>
									<div class="stats-bar" data-value="90">
										<div class="bar-line"></div>
									</div>
								</div>
								<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="project-item">
							<div class="thumb" style="background-image: url({% static 'assets/img/project/project-slider-03.png' %});"></div>
							<div class="content">
								<div class="cats">
									<a href="#">Software Development</a>
								</div>

								<!-- <div class="author">
									<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
									<a href="#">James W. Barrows</a>
								</div> -->

								<h5 class="title">
									<a href="project-details.html">Fundraising For Laptops and Pc's</a>
								</h5>
								<div class="project-stats">
									<div class="stats-value">
										<span class="value-title">To Raise <span class="value">1.5M NGN</span></span>
										<span class="stats-percentage">50%</span>
									</div>
									<div class="stats-bar" data-value="90">
										<div class="bar-line"></div>
									</div>
								</div>
								<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Emergency Project & CTA End ======-->
	{% endblock %}

	

	