{% extends 'home/base.html' %}

{% load static %}

{% load humanize %}


{% block title %}
{{ block.super }} Home
{% endblock %}



	{% block nav %}

	{% include 'home/header.html' %}

	{% endblock %}


	{% block jumbotron %}
	<!--====== Hero Area Start ======-->
	<section class="hero-area-one">
		<div class="hero-text">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<!-- <span class="tagline wow fadeInUp" data-wow-delay="0.3s">AMFI</span> -->
						<h2 class="title wow fadeInUp" data-wow-delay="0.4s">Augustine Mission Foundation Ikorodu.</h2>
						<!-- <a href="project-1.html" class="main-btn wow fadeInUp" data-wow-delay="0.5s">
							Explore Projects <i class="far fa-arrow-right"></i>
						</a> -->
					</div>
				</div>
			</div>
			<div class="hero-shapes">
				<div class="hero-line-one">
					<img src="{% static 'assets/img/hero/hero-line.png' %}" alt="Line">
				</div>
				<div class="hero-line-two">
					<img src="{% static 'assets/img/hero/hero-line-2.png' %}" alt="Line">
				</div>
				<div class="dot-one"></div>
				<div class="dot-two"></div>
			</div>
		</div>
		<div class="hero-images">
			<div class="hero-img image-small fancy-bottom wow fadeInLeft" data-wow-delay="0.6s">
				<img id="herosmall" src="{% static 'assets/img/hero/hero-one-small.png' %}" alt="Image">
			</div>
			<div class="hero-img main-img wow fadeInUp" data-wow-delay="0.5s">
				<img id="bigimage" src="{% static 'assets/img/hero/hero-one-big.png' %}" alt="Image">
			</div>
			<div  class="hero-img image-small fancy-top wow fadeInRight" data-wow-delay="0.7s">
				<img id="herosmall2" src="{% static 'assets/img/hero/hero-one-small-2.png' %}" alt="Image">
			</div>
		</div>
	</section>
	<!--====== Hero Area End ======-->



	{% endblock %}

    {% block category %}
    

	<!--====== Categories Section Start ======-->
	<section class="popular-categories section-gap">
		<div class="container">
			<div class="categories-header">
				<div class="row align-items-center justify-content-between">
					<div class="col-auto">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> what we do
								<span class="heading-shadow-text">Training</span>
							</span>
							<h2 class="title">Popular Training</h2>
						</div>
					</div>
					<div class="col-auto">
						<a href="{% url 'training:training' %}" class="main-btn mb-30">View All Training <i class="far fa-angle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="row justify-content-center fancy-icon-boxes">
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.2s">
					{% if fashion != "" %}
					<a href="{{ fashion.get_absolute_url }}">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-tshirt"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="{{ fashion.get_absolute_url }}">Fashion</a></h4>
							<p><a href="{{ fashion.get_absolute_url }}">Clothe Making</a></p>
						</div>
					</div>
					</a>
					{% else %}
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-tshirt"></i>
						</div>
						<div class="content">
							<h4 class="title"><a>Fashion</a></h4>
							<p><a>Clothe Making</a></p>
						</div>
					</div>

					{% endif %}
				</div>
				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.3s">
					{% if chips != "" %}
					<a href="{{ chips.get_absolute_url }}">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-open-box"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="{{ chips.get_absolute_url }}">Catering</a></h4>
							<p><a href="{{ chips.get_absolute_url }}">Chips/Cake Making</a></p>
						</div>
					</div>
					</a>
					{% else %}

					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-open-box"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="{{ chips.get_absolute_url }}">Catering</a></h4>
							<p><a href="{{ chips.get_absolute_url }}">Chips/Cake Making</a></p>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-phone-call-1"></i>
						</div>
						<div class="content">
							<h4 class="title"><a>Communication</a></h4>
							<p>Management</p>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-reading-book"></i>
						</div>
						<div class="content">
							<h4 class="title"><a>Project</a></h4>
							<p>Writing</p>
						</div>
					</div>
				</div> -->
				

				<div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
					{% if photo != "" %}
					<a href="{{ photo.get_absolute_url }}">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-video-camera"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="{{ photo.get_absolute_url }}">Editing </a></h4>
							<p><a href="{{ photo.get_absolute_url }}">Photography & Video</a></p>
						</div>
					</div>
					</a>
					{% else %}

					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-video-camera"></i>
						</div>
						<div class="content">
							<h4 class="title"><a>Editing </a></h4>
							<p><a>Photography & Video</a></p>
						</div>
					</div>
					{% endif %}
				</div>

				<!-- <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.4s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<i class="flaticon-project-management"></i>
						</div>
						<div class="content">
							<h4 class="title"><a>Project</a></h4>
							<p>Management</p>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-xl-4 col-md-6 col-sm-10 wow fadeInUp" data-wow-delay="0.5s">
					<div class="fancy-box-item mt-30">
						<div class="icon">
							<a href="https://www.flaticon.com/free-icons/catering" title="catering icons"></a>
							<i class="flaticon-catering"></i>
						</div>
						<div class="content">
							<h4 class="title"><a href="#">Catering</a></h4>
							<p>Cake, Chips & Chinchin Making</p>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<!--====== Categories Section End ======-->
	{% endblock %}

    {% block about %}
	<!--====== About Section Start ======-->
	<section class="about-section-one">
		<div class="container">
			<div class="row align-items-center justify-content-lg-start justify-content-center">
				<div class="col-xl-6 col-lg-7 col-md-9">
					<div class="about-img">
						<img src="{% static 'assets/img/about/about-one3.png' %}" alt="Image">
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-10 offset-xl-1">
					<div class="about-text mt-md-70 mb-md-50">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> who we are
								<span class="heading-shadow-text">About Us</span>
							</span>
							<!-- <h2 class="title">Why Choose Us</h2> -->
						</div>
						{% if about.0 %}
						<p>
						{{about.0.body|safe}}
						</p>
						{% else %}
						<p>
							AMFI was setup to assist the poor and vulnerable to carry out Catholic relief service as we act to promote human development by responding to major emergencies, fighting poverty and nuturing peaceful and just society.
						</p>
						{% endif %}
						<div class="author-note wow fadeInUp">
							<ul>
								<!-- <li><i class="far fa-check"></i> Non-Profite Crowdfunding Agency</li> -->
								<li><i class="far fa-check"></i> We're a Successful Institute </li>
							</ul>
							<div class="author-info">
								<div class="author-img">
									<img src="{% static 'assets/img/author-thumbs/01.png' %}" alt="Image">
								</div>
								<h5 class="name">Princess Ugbobuaku Doralis Chukwunyerem Ihekerem (Nee-Ibenacho)</h5>
								<span class="title">Chairperson</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== About Section End ======-->
	{% endblock %}


    {% block training %}

	<!--====== Project Section Start ======-->
	<section class="project-section project-section-extra-gap secondary-bg">
		<div class="container-fluid fluid-extra-padding">
			<div class="common-heading text-center color-version-white mb-60">
				<span class="tagline">
					<i class="fas fa-plus"></i> Training/Empowerment
					<span class="heading-shadow-text">Our Trainings & Empowerment</span>
				</span>
				<h2 class="title">Explore</h2>
			</div>
			<div class="row project-slider-one project-items project-style-one no-shadow">
				{% if training %}
				{% for i in training %}
				<div class="col">
					<div class="project-item">
						<div class="thumb" style="background-image: url({{ i.image_570_by_640.url }});"></div>
						<div class="content">
							<div class="cats">

								<!-- <a href="{{ i.get_absolute_url }}">Training</a> -->
								<a href="{{ i.get_absolute_url }}">{{ i.category }}</a>
							</div>
							
							<h2 class="title">
								<a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
							</h2>
							<!-- <div class="author">
								<img src="" alt="Thumb">
								<a href="{{ i.get_absolute_url }}">Facilitator: {{ i.facilitator }}</a>
							</div> -->
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Pick your forms <span class="value">Now!!!</span></span>
									
								</div>
								<!-- <div class="stats-bar" data-value="100">
									<div class="bar-line"></div>
								</div> -->
							</div>
							<!-- <span class="date"><i class="far fa-calendar-alt"></i> {{ i.created|date:"D, d M Y" }}</span>
							 -->

							 <a href="{{ i.get_absolute_url }}" class="main-btn bordered-btn">Join Now<i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
	<!--====== Project Section End ======-->

    {% endblock %}


    {% block testimonials %}
    
	<!--====== Testimonials Start ======-->
	<section class="testimonials-section section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
					<div class="testimonials-content mb-lg-50">
						<div class="common-heading mb-30">
							<span class="tagline">
								<i class="fas fa-plus"></i> clients Feedback
								<span class="heading-shadow-text">Testimonials</span>
							</span>
							<h2 class="title">Why Choose Us</h2>
						</div>
						<p>
							Some of our empowerment programs have produced and empowered over 500 trainees with practical classes and standard assessments in over 20 different programs and many of these trainees are now owners of businesses. 
						</p>
						<a href="{% url 'testimonial:testimonial' %}" class="main-btn mt-35">View All Reviews <i class="far fa-arrow-right"></i></a>

						<div class="testimonial-author-boxes wow fadeInUp" data-wow-delay="0.2s">
							<h6>Most Popular Clients</h6>
							<ul class="author-images">
								{% if testimonials %}
                				{% for i in testimonials %}
								<li data-tooltip="true" data-placement="top" data-original-title="{{ i.full_name }}">
									<a href="{{ i.get_absolute_url }}"><img src="{{ i.image_50_by_50.url }}" alt="{{ i.full_name }}" style="width: 50px; height: 50px;"></a>
								</li>
								{% endfor %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-10">
					<div class="testimonial-boxes square-shape">
						<div class="row  justify-content-center">
							{% if testimonials %}
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="testimonial-box-one wow fadeInUp" data-wow-delay="0s">
									<div class="author-info">
										{% if testimonials.0.image_50_by_50 %}
										<div class="author-img">
											<img src="{{ testimonials.0.image_50_by_50.url }}" alt="{{ testimonials.0.full_name }}" style="width: 50px; height: 50px;">
										</div>
										{% endif %}
										<div>
											<h5 class="name">{{ testimonials.0.full_name }}</h5>
											<p class="position">{{ testimonials.0.designation }}</p>
										</div>
									</div>
									<p class="testimonial-desc">
										{{ testimonials.0.testimony|safe }}
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											{% if testimonials.2.rating == 5 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 4 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 3 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 2 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 1 %}
											<li><i class="fas fa-star"></i></li>
											{% else %}
											<li></li>
											{% endif %}
										</ul>
									</div>

								</div>
								<div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.1s">
									<div class="author-info">
										{% if testimonials.1.image_50_by_50 %}
										<div class="author-img">
											<img src="{{ testimonials.1.image_50_by_50.url }}" alt="{{ testimonials.1.full_name }}" style="width: 50px; height: 50px;">
										</div>
										{% endif %}
										<div>
											<h5 class="name">{{ testimonials.1.full_name }}</h5>
											<p class="position">{{ testimonials.1.designation }}</p>
										</div>
									</div>
									<p class="testimonial-desc">
										{{ testimonials.1.testimony|safe }}
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											{% if testimonials.2.rating == 5 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 4 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 3 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 2 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 1 %}
											<li><i class="fas fa-star"></i></li>
											{% else %}
											<li></li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-10">
								<div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.2s">
									<div class="author-info">
										{% if testimonials.2.image_50_by_50 %}
										<div class="author-img">
											<img src="{{ testimonials.2.image_50_by_50.url }}" alt="{{ testimonials.2.full_name }}" style="width: 50px; height: 50px;">
										</div>
										{% endif %}
										<div>
											<h5 class="name">{{ testimonials.2.full_name }}</h5>
											<p class="position">{{ testimonials.2.designation }}</p>
										</div>
									</div>
									<p class="testimonial-desc">
										{{ testimonials.2.testimony|safe }}
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											{% if testimonials.2.rating == 5 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 4 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 3 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 2 %}
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											{% elif testimonials.2.rating == 1 %}
											<li><i class="fas fa-star"></i></li>
											{% else %}
											<li></li>
											{% endif %}
										</ul>
									</div>
								</div>
								<!-- <div class="testimonial-box-one mt-30 wow fadeInUp" data-wow-delay="0.3s">
									<div class="author-info">
										{% if testimonials.3.image_50_by_50 %}
										<div class="author-img">
											<img src="{{ testimonials.3.image_50_by_50.url }}" alt="{{ testimonials.3.full_name }}" style="width: 50px; height: 50px;">
										</div>
										{% endif %}
										<div>
											<h5 class="name">{{ testimonials.3.full_name }}</h5>
											<p class="position">{{ testimonials.3.designation }}</p>
										</div>
									</div>
									<p class="testimonial-desc">
										{{ testimonials.3.testimony|safe }}
									</p>
									<div class="rating-wrap">
										<span>Rating</span>
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div> -->
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Testimonials End ======-->
	{% endblock %}



    {% block emergency %}
	<!--====== Emergency Project & CTA Start ======-->
	<section class="emergency-project-with-cta">
		<div class="container">
			<!-- Call to Action -->
			<div class="cta-box cta-double-content" style="background-image: url({% static 'assets/img/cta/01.png' %});">
				<div class="row justify-content-center">
					<div class="col-xl-4 col-lg-5 col-md-9">
						<div class="content">
							<!-- <h2 class="cta-title">Donate And Support</h2> -->
							<!-- <p>We are seeking support from people who can help bring our goals to reality </p>
							<a href="events.html" class="main-btn">Start a Donation <i class="far fa-arrow-right"></i></a> -->
						</div>
					</div>
					<div class="col-xl-2 col-lg-1 cta-double-content-gap"></div>
					<div class="col-xl-4 col-lg-5 col-md-9">
						<div class="content">
							<!-- h2 class="cta-title">Access Data And Insights</h2>
							<p>Insight on how the foundation got to the very stage it is in now.</p>
							<a href="events.html" class="main-btn">Get Insight <i class="far fa-arrow-right"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="emergency-project-slider">
			<div class="container">
				<div class="common-heading text-center mb-60">
					<!-- <span class="tagline">
						<i class="fas fa-plus"></i> Donate Projects
						<span class="heading-shadow-text">Donate</span>
					</span> -->
					<h2 class="title">Projects</h2>
				</div>
				<div class="row project-slider-two project-items project-style-four">
				{% if projects %}
				{% for i in projects %}
					<div class="col">
						<div class="project-item">
							{% if i.image_770_by_445  %}
							<div class="thumb" style="background-image: url({{ i.image_770_by_445.url }});"></div>
							{% elif i.image_570_by_640 %}
							<div class="thumb" style="background-image: url({{ i.image_570_by_640.url }});"></div>
							{% else %}
							<div class="thumb" style="background-image: url({% static 'assets/img/project/project-slider-02.png' %});"></div>
							{% endif %}
							<div class="content">
								<div class="cats">
									{% if i.category %}
									<a href="{{ i.get_absolute_url }}">{{ i.category }}</a>
									{% endif %}
								</div>

								<!-- <div class="author">
									<img src="{% static 'assets/img/author-thumbs/01.jpg' %}" alt="Thumb">
									<a href="#">James W. Barrows</a>
								</div> -->

								{% if i.title %}

								<h5 class="title">
									<a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
								</h5>

								{% endif %}

								<div class="project-stats">
									<div class="stats-value">
										<span class="value-title">Pick your forms <span class="value">Now!!!</span></span>
										<!-- <span class="stats-percentage">83%</span> -->
									</div>
									<!-- <div class="stats-bar" data-value="90">
										<div class="bar-line"></div>
									</div> -->
								</div>
								<!-- <span class="date"><i class="far fa-calendar-alt"></i>{{ i.created|date:"D, d M Y" }}</span> -->

								<a href="{{ i.get_absolute_url }}" class="main-btn bordered-btn">View More<i class="far fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
					
				</div>
			</div>
		</div>
	</section>
	<!--====== Emergency Project & CTA End ======-->
	{% endblock %}

	

	